meetly-n8n.json
{
  "name": "meetly",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "981ad22c-97a6-4f32-a0d9-c8e70cebcdb4",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "58cf9e79-3dcb-49e4-9da0-6c0d1ce56c61",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        40,
        380
      ],
      "webhookId": "981ad22c-97a6-4f32-a0d9-c8e70cebcdb4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"sessionId\": \"{{ $('Data').first().json.sessionId }}\",\n  \"agentMessage\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "id": "849c6bac-0dd1-4ba3-8326-a3d4f236519d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1260,
        400
      ]
    },
    {
      "parameters": {},
      "id": "289870fd-37ed-40ca-95d6-f838ed26a2f0",
      "name": "Data",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.contactMessage }}",
        "options": {
          "systemMessage": "You are an AI agent designed to enhance user experience with the \"meetly\" app, which seamlessly combines the functionalities of a personal diary and a daily assistant. Your primary objectives are to ensure accurate, context-aware, and empathetic responses.\n\nEvent JSON Format: Ensure that any events mentioned in the response are provided in JSON format with the message and the time they happen.\n\nExample JSON format:\n\n{\n  \"event\": {\n    \"message\": \"Your streak has reached 10 days!\",\n    \"time\": \"2025-03-04T10:03:00Z\"\n  }\n}"
        }
      },
      "id": "0ae0c80e-9844-4425-9994-425143bcf0a9",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.3,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a7b94cfd-bd75-4a87-82f2-d903129bd236",
              "leftValue": "={{ $json.body.sessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "656bb300-a50c-4bf3-ac53-693dfc6db526",
      "name": "If has SessionId",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        260,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d23dcfe6-87e4-4dad-b9cc-c1bbb52291eb",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "90072504-b82a-4514-93ec-7d907397361c",
              "name": "contactMessage",
              "value": "={{ $json.body.contactMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b5d89a60-2855-4801-95bf-b4b435fac51c",
      "name": "Set with SessionId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        480,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d23dcfe6-87e4-4dad-b9cc-c1bbb52291eb",
              "name": "sessionId",
              "value": "={{(+new Date).toString(36).slice(-5) + Math.random().toString(36).substr(2, 5)}}",
              "type": "string"
            },
            {
              "id": "90072504-b82a-4514-93ec-7d907397361c",
              "name": "contactMessage",
              "value": "={{ $json.body.contactMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f1d6aa53-705c-4d15-824f-b51d03e0261e",
      "name": "Set with GeneratedID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        480,
        500
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        840,
        620
      ],
      "id": "39e8df67-d8ee-4584-b17a-e1ab223139d0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wqym0GcoV64BnJ0k",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        980,
        620
      ],
      "id": "13e7ee0f-4427-4239-ab70-a4c0fdbcd142",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1140,
        620
      ],
      "id": "4dbdfe73-41f8-4000-835c-4f93c6324b51",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If has SessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If has SessionId": {
      "main": [
        [
          {
            "node": "Set with SessionId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set with GeneratedID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set with SessionId": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set with GeneratedID": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ba9247e-a74d-40af-8768-9cf6cc5f0ec2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae8454a0e78c5c8d46e957159b16f1454ba1b44b9a13d0930a8c55ef47b4dfef"
  },
  "id": "dFLPyHQwgUwZFymN",
  "tags": []
}