meetly-n8n.json
{
  "name": "meetly",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "981ad22c-97a6-4f32-a0d9-c8e70cebcdb4",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9071ac41-c4f4-403d-8f83-ca3d16893d73",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -340,
        -20
      ],
      "webhookId": "981ad22c-97a6-4f32-a0d9-c8e70cebcdb4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"sessionId\": \"{{ $('Data').first().json.sessionId }}\",\n  \"agentMessage\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "id": "91ce7fb0-112f-44f7-80f7-4ffefc3104c5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {},
      "id": "8aa62edb-c573-4efd-b29d-65d07087ec18",
      "name": "Data",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a7b94cfd-bd75-4a87-82f2-d903129bd236",
              "leftValue": "={{ $json.body.sessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e0276bb4-4f0c-40c5-887d-78b0a1f21363",
      "name": "If has SessionId",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -120,
        -20
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d23dcfe6-87e4-4dad-b9cc-c1bbb52291eb",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "90072504-b82a-4514-93ec-7d907397361c",
              "name": "contactMessage",
              "value": "={{ $json.body.contactMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "13e565d5-56e7-4e35-9f1f-a13cb85ccd0c",
      "name": "Set with SessionId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        100,
        -80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d23dcfe6-87e4-4dad-b9cc-c1bbb52291eb",
              "name": "sessionId",
              "value": "={{(+new Date).toString(36).slice(-5) + Math.random().toString(36).substr(2, 5)}}",
              "type": "string"
            },
            {
              "id": "90072504-b82a-4514-93ec-7d907397361c",
              "name": "contactMessage",
              "value": "={{ $json.body.contactMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3c6a9dc3-897e-459a-9c3b-b2658650ca66",
      "name": "Set with GeneratedID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        100,
        100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.contactMessage }}",
        "options": {
          "systemMessage": "You are an AI agent designed to enhance user experience with the \"meetly\" app, which seamlessly combines the functionalities of a personal diary and a daily assistant. Your primary objectives are to ensure accurate, context-aware, and empathetic responses.\n\nEvent JSON Format: Ensure that any events mentioned in the response are provided in JSON format with the message and the time they happen."
        }
      },
      "id": "d6a7b7cc-d1cb-4216-addb-800135bcc81e",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.3,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        620,
        240
      ],
      "id": "b61a1e6c-8033-4a0f-9279-b350679f547f",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        460,
        220
      ],
      "id": "7b6de48e-76b8-4c6c-a72f-c770593666bd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oby6MMY3dgZaujEN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If has SessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If has SessionId": {
      "main": [
        [
          {
            "node": "Set with SessionId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set with GeneratedID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set with SessionId": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set with GeneratedID": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1afe6d2-c630-452e-881c-0577a27a70dd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0efefaf848cb55b47d610315256d7fa8b63f4f8843777a47ca589bc607a113a5"
  },
  "id": "T5zb3UkO3cdcS6tN",
  "tags": []
}